.shop_header {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  background-color: #703bf7;
}

.header_title {
  color: white;
  font-size: 35px;
  font-weight: 600;
}

.header_button {
  position: relative;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid #999999;
  border: none;
  cursor: pointer;
}

.header_cart_number {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 20px;
}

.header_icon {
  width: 20px;
  height: 20px;
}

.header_button_registration {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  border-radius: 6px;
  border: 1px solid rgb(51, 51, 51);
  padding: 4px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  width: 85px;
}

.header_button_signup {
  width: 108px;
}
.header_button_group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.shop_content {
  padding: 12px;
  min-height: calc(100vh - 95px - 51.52px);
  /* max-width: 1200px; */
}

.shop_footer {
  background-color: #703bf7;
  padding: 15px;
  text-align: center;
}

.footer_title {
  color: white;
}
